.containerPublicacion {
    background-color: #FFF;
    border-radius: 20px;
    margin-top: 1em;
    padding: 1rem 0rem 0.5rem 0rem;
}
.textos {
    margin-left: 2rem;
}
.nombreCuenta {
    font-weight: bold;
    font-size: 16px;
    text-decoration:none;
    color: #000000;
}
.nombreCuenta:hover{
    text-decoration:underline;
}
.horaPublicacion {
    font-size: 10px;
    color: #85929E;
}
.parrafo {
    font-size: 14px;
}
.foto {
    width: 100%;
    height: 20rem;
    background-image: url("https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/144249450.jpg?k=1a56adf1208386d43df01ddf9015a679295942c4e1b09b0bb400db48363089e7&o=");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.iconoComentarios {
    margin-left:2rem;
}
.linkComent {
    text-decoration: none;
    color: #85929E;
    font-size:12px;
    margin-left: 1em;
}