.formLogin {
    background-color: #fff !important;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 20rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}


.btnCancelar {
    width: 60%;
    border: none;
    border-radius: 10px;
    background-color: #FDC830;
    padding: 0.2em;
    font-weight: bolder;
    color: #FFFFFF;
}

.containterRegistro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}

.btnRegistro {
    width: 90%;
    border: none;
    border-radius: 10px;
    background-color: #F37335;
    padding: 0.2em;
    font-weight: bolder;
    color: #FFFFFF;
}
