@inject IHttpService http
@page "/PerfilViajero/{cuentaId}"
<h3>Perfil</h3>

@*<div class="card-deck">
     @if(CuentasHostel == null && CuentasViajero == null)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cargando...</h5>
            </div>
        </div>        
    } else if (CuentasHostel.Count == 0 && CuentasViajero.Count == 0){
           <div class="card">
            <div class="card-body">
                <h5 class="card-title">No hay cuentas para seleccionar</h5>
            </div>
        </div>   
    }
    else
    {
        @foreach (var item in CuentasViajero)
        {
            <div class="card">
                <img class="card-img-top" src="@item.FotoPerfil" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                </div>
            </div>
        }
        @foreach (var item in CuentasHostel)
        {
            <div class="card">
                <img class="card-img-top" src="@item.FotoPerfil" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                </div>
            </div>
        }
    }*@


@code {
    [Parameter] public string cuentaId {get;set;}

}

