@page "/Muro/CrearPublicacion"
@inject IHttpService http
@inject NavigationManager navigationManager

<h3>Crear</h3>
<FormPublicacion publicacion = "publicacion" onCancel="Cancelar" onValidSubmit="Grabar"/>




@code {
    private Publicacion publicacion = new Publicacion();
    private async void Grabar() 
    {
        Console.WriteLine("entro al grabar");
        var httpRespuesta = await http.Post<Publicacion>("api/Publicacion", publicacion); 
        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }
        StateHasChanged();
        navigationManager.NavigateTo("/");
    }
    private void Cancelar()
    {
        navigationManager.NavigateTo("/");

    }
}