@page "/Muro/CrearPublicacion"
@inject IHttpService http
@inject NavigationManager navigationManager

<h3>Crear</h3>
<FormPublicacion publicacion = "publicacion" onCancel="Cancelar" onValidSubmit="Grabar"/>




@code {
    private Publicacion publicacion = new Publicacion();
    private async void Grabar()
    {
        var httpRespuesta = await http.Post<Publicacion>("api/Publicaciones", publicacion); /*(no se si api/cuentas esta bien)*/
        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }
        navigationManager.NavigateTo("/Muro");
    }
    private void Cancelar()
    {
        navigationManager.NavigateTo("/Muro");

    }
}