@page "/Cuentas/CrearViajero"
@inject IHttpService http
@inject NavigationManager navigationManager

<div class="content">   
    <FormCuentaViajero cuentaViajero= "cuentaViajero" onCancel="Cancelar" onValidSubmit="Grabar"/>
</div>

@code {
    private CuentaViajero cuentaViajero = new CuentaViajero();
    private async void Grabar()
    {
        var httpRespuesta = await http.Post<CuentaViajero>("/AgregarViajero", cuentaViajero);
        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }
        navigationManager.NavigateTo("/Cuentas");
    }
    private void Cancelar()
    {
        navigationManager.NavigateTo("/Cuentas");

    }
}